body{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#666;}
.ui-content{padding:0.6em;}
.wrapper{padding:4.5em 0.6em 0em;}
.headerbg{background-color:#174777; padding:10px 0px; color:#fff;position: fixed; width:100%;z-index: 1000;}
.headeruser{ width:40px; height:40px;float: left;padding:0px 10px;}
.headeruser img{width:100%;}
.headerheading{margin: 10px 0px 0px 0px; float:left;}
.headerlogo img{width:100px; float: right;margin-top: 8px;}
.headertoggle img{width:8px; padding: 3px 10px 0px;float: right;}


.text1{color:#6ebf6b; font-size:1.4em; font-weight:bold; text-align:center; margin:20px 0px;}
.text2{color:#8ad1e6; font-size:1em;margin-left:10px;}
.dispnone{display:none;}
.mar10{margin:10px;}
.mar20{margin:20px;}
.pad10{padding:10px;}
.pad20{padding:20px;}
.marb40{margin:0px 0px 20px 0px;}
.mar30{margin:30px 0px;}

.btn1{background-color:#6ebf6b;border-radius: 50px; color:#fff;text-align: center; padding: 10px 0px;cursor:pointer;}
.btn2{border:1px solid #91c2e8;border-radius: 50px; color:#fff;text-align: center; padding: 10px 0px;cursor:pointer;}

.width80{width:80%; margin:0 auto;}

.pull-left{float:left;}
.pull-right{float:right;}
.clearfix{clear:both;}




