.body{background-color:
background: -moz-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25,95,140,1)), color-stop(100%, rgba(30,46,93,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195f8c', endColorstr='#1e2e5d',GradientType=0 ); /* ie6-9 */
min-height:100vh;
}
.logo_login{margin:10% 0% 0% 0%;}
.logo_login img{width:50%}

.loginprofileicon{background: url(../../img/LoginProfile.png) no-repeat;background-position-x: 10px;background-position-y: 6px;}
.NewPasswordicon{background: url(../../img/NewPassword.png) no-repeat;background-position-x: 10px;background-position-y: 6px;}
.SecurityQuestionicon{background: url(../../img/CurrentPassword.png) no-repeat;background-position-x: 10px;background-position-y: 9px;}
.SecurityAnswericon{background: url(../../img/SecurityAnswer.png) no-repeat;background-position-x: 10px;background-position-y: 4px;}
.ConfirmPasswordicon{background: url(../../img/ConfirmPassword.png) no-repeat;background-position-x: 10px;background-position-y: 6px;}

.w3-input{color:#fff;border-bottom: 1px solid #0a98d1;padding: 8px 8px 8px 50px;}




@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
.logo_login{margin:10% 0% 0% 0%;}
.logo_login img{width:50%}
}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
.logo_login{margin:16% 0% 0% 0%;}
.logo_login img{width:50%}
.text1{margin: 40px 0px;}
}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }