.nodata{margin:0 auto; padding-top:50%; text-align:center;}
.nodata img{width:100px;}
.studentlist{border-bottom:1px solid #a6a8ab; padding-bottom:10px; margin-bottom:20px; width:100%;}
.user{width: 26% !important;}
.usernamest{width:48% !important;margin-top:14px; color:#174777;}
.go{width: 20% !important; margin-top:14px; float:right;}
.userheading{border-bottom:1px solid #174777;padding-bottom: 2px;margin-bottom: 6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}