.body{background-color:
background: -moz-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25,95,140,1)), color-stop(100%, rgba(30,46,93,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(30,46,93,1) 0%, rgba(25,95,140,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195f8c', endColorstr='#1e2e5d',GradientType=0 ); /* ie6-9 */
min-height:100vh;
}
.settingslist{margin:30% 0% 0% 0%;}
.settingslist ul {list-style-type: none;margin: 0 auto;padding: 0;width:90%;}
.settingslist li a {display: block;color:#fff !important;padding: 14px 0px;text-decoration: none; border-bottom: 1px solid #16aee5;font-size:1.1em;font-weight: normal !important; text-shadow: none !important; text-align:center;}
.settingslist li a.active {color: #fff;}
.settingslist li a:hover{background-color: #0598d1;color: #fff;}